@font-face {
    font-family: "Roboto Condensed";
    font-weight: normal;
    src: url("../fonts/RobotoCondensed-Italic-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "SCDream";
    font-weight: normal;
    src: url("../fonts/SCDream4_regular.otf");
  }